{% assign linklist = linklists.brands %}
{% assign sorted_links = linklist.links | sort: 'title' %}
{% assign previous_alphabet = '' %}
{% for link in sorted_links %}
  {% assign link_item = link.object %}
  {% capture link_title %}{{ link.title | escape }}{% endcapture %}
  {% assign current_alphabet = link_title | slice: 0 %}
  <div class="anchor-{{ current_alphabet }}" style="transition: all 0s ease 0s;">
    {% if current_alphabet != previous_alphabet %}
      <h2 class="new-alphabet-char">{{ current_alphabet }}</h2>
      {% assign previous_alphabet = current_alphabet %}
    {% endif %}
    <div class="inner_main_brands" style="transition: all 0s ease 0s;">
      <ul class="block-grid mobile four-up product-collection">
        <li class="{{ forloop.index }}" style="transition: all 0s ease 0s;">
          <div class="product">
            {% assign link_item = link.object %}
            {% capture link_title %}{{ link.title | escape }}{% endcapture %}

            <a href="{{ link_item.url }}" title="{{ link_title }}">
              <span class="thumbnail">
                <img
                  src="{{ link_item.image | image_url }}"
                  alt="{{- link_title }}"
                  width="50"
                  height="50"
                >
              </span>

              <span class="product-title">
                {{ link_title -}}
              </span>
            </a>
          </div>
        </li>
      </ul>
    </div>
  </div>
{% endfor %}
<style>
  .four-up{
  list-style: none;
  }
   .new-alphabet {
    list-style: none;
    clear: both;
    margin-top: 10px;
   }
  .new-alphabet-char {
    padding: 0 20px;
    text-align: left;
    font-weight: bold;
    font-size: 1.2em;
  }
</style>
