{% assign linklist = linklists.brands %}
<ul class="block-grid mobile four-up product-collection">
  {% for link in linklist.links %}
    <li>
      <div class="product">
        {% assign link_item = link.object %}
        {% assign link_image = '' %}
        {% capture link_title %}{{ link.title | escape }}{% endcapture %}

        <a href="{{ link_item.url }}" title="{{ link_title }}">
          <span class="thumbnail">
            {% if link_image != '' %}
              <img
                src="{{ link_item.image | image_url }}"
                alt="{{ link_title }}"
                width=""
                height=""
              >
            {% endif %}
          </span>

          <span class="product-title">
            {{ link_title -}}
            {{- link.object.image }}
          </span>
        </a>
      </div>
    </li>
  {% endfor %}
</ul>
