<div class="featured-collection--container page-width section__{{ section.id }} cstcontainer tabSider">
  <div class="top_tab">
    {% for block in section.blocks %}
      <div
        class="top_tab_inner {% if forloop.first %}active_tab{% endif %}"
        tab-index="{{ block.settings.title |handle }}"
      >
        {{ block.settings.title }}
      </div>
    {% endfor %}
  </div>
  <div class="bottom_tab">
    {% for block in section.blocks %}
      <div class="bottom_tab_inner {% if forloop.first %} active_content{% endif %} cstm__{{ block.settings.title |handle }}">
        {% assign collection = collections[block.settings.collection] %}
        {% if collection.products.size > 0 %}
          <ul
            class="tab_product_slider productgrid--items"
            id="tab_slider"
            data-html="productgridItems"
          >
            {%- for product in collection.products -%}
              <li class="card_product_grid">
                {% render 'card-product',
                  card_product: product,
                  media_aspect_ratio: section.settings.image_ratio,
                  image_shape: section.settings.image_shape,
                  show_secondary_image: section.settings.show_secondary_image,
                  show_vendor: section.settings.show_vendor,
                  show_rating: section.settings.show_rating,
                  show_quick_add: section.settings.enable_quick_add,
                  section_id: section.id
                %}
              </li>
            {% endfor %}
          </ul>
        {% endif %}
        <div class="feature_coll_cta">
          <a
            class="tab-btn featured-collection--cta"
            href="{% if collection.url != blank %}{{ collection.url }}{% else %}#{% endif %}"
          >
            <span class="button-text">View more</span></a
          >
        </div>
      </div>
    {% endfor %}
  </div>
</div>
{% schema %}
{
  "name": "Tab Collection Slider",
  "settings": [
      {
      "type": "text",
      "id": "tab_title",
      "label": "Tab slide show"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "info": "t:sections.all.colors.has_cards_info",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "t:sections.main-collection-product-grid.settings.header__3.content"
    },
    {
      "type": "select",
      "id": "image_ratio",
      "options": [
        {
          "value": "adapt",
          "label": "t:sections.main-collection-product-grid.settings.image_ratio.options__1.label"
        },
        {
          "value": "portrait",
          "label": "t:sections.main-collection-product-grid.settings.image_ratio.options__2.label"
        },
        {
          "value": "square",
          "label": "t:sections.main-collection-product-grid.settings.image_ratio.options__3.label"
        }
      ],
      "default": "adapt",
      "label": "t:sections.main-collection-product-grid.settings.image_ratio.label"
    },
    {
      "type": "select",
      "id": "image_shape",
      "options": [
        {
          "value": "default",
          "label": "t:sections.all.image_shape.options__1.label"
        },
        {
          "value": "arch",
          "label": "t:sections.all.image_shape.options__2.label"
        },
        {
          "value": "blob",
          "label": "t:sections.all.image_shape.options__3.label"
        },
        {
          "value": "chevronleft",
          "label": "t:sections.all.image_shape.options__4.label"
        },
        {
          "value": "chevronright",
          "label": "t:sections.all.image_shape.options__5.label"
        },
        {
          "value": "diamond",
          "label": "t:sections.all.image_shape.options__6.label"
        },
        {
          "value": "parallelogram",
          "label": "t:sections.all.image_shape.options__7.label"
        },
        {
          "value": "round",
          "label": "t:sections.all.image_shape.options__8.label"
        }
      ],
      "default": "default",
      "label": "t:sections.all.image_shape.label",
      "info": "t:sections.all.image_shape.info"
    },
    {
      "type": "checkbox",
      "id": "show_secondary_image",
      "default": false,
      "label": "t:sections.main-collection-product-grid.settings.show_secondary_image.label"
    },
    {
      "type": "checkbox",
      "id": "show_vendor",
      "default": false,
      "label": "t:sections.main-collection-product-grid.settings.show_vendor.label"
    },
    {
      "type": "checkbox",
      "id": "show_rating",
      "default": false,
      "label": "t:sections.main-collection-product-grid.settings.show_rating.label",
      "info": "t:sections.main-collection-product-grid.settings.show_rating.info"
    },
    {
      "type": "checkbox",
      "id": "enable_quick_add",
      "default": false,
      "label": "t:sections.main-collection-product-grid.settings.enable_quick_buy.label"
    }
  ],
  "blocks":[
    {
      "type":"text",
      "name":"Collection",
      "settings":[
      {
      "type":"text",
      "id":"title",
      "label":"Title"
    },
     {
      "type":"collection",
      "id":"collection",
      "label":"Collection"
    }
      ]
    }
  ],
  "presets":[
    {
      "name":"Tab Collection Slider"
    }
  ]
}
{% endschema %}
<style>
    .top_tab {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    margin-top:30px;
    }
    .top_tab_inner {
      border: 1px solid #B1B0B0;
    border-radius: 10px;
    padding: 8px 30px;
    color: #001f5c !important;
    font-size: 18px;
    box-shadow: none;
    margin: 0 15px;
    cursor: pointer;
    font-weight:900;
    }
    .top_tab_inner.active_tab {
    border: 1.5px solid #B1B0B0;
    box-shadow: 1px 1px 1px #B1B0B0;
    background: rgb(186 238 243 / 46%);
    }
    .bottom_tab_inner,
    .bottom_tab_inner ul,
    .bottom_tab_inner .slick-list.draggable{
    opacity: 0;
    visibility: hidden;
    height: 0;
    }
    .bottom_tab_inner.active_content,
    .bottom_tab_inner.active_content ul,
    .bottom_tab_inner.active_content .slick-list.draggable{
    opacity: 1;
    visibility: visible;
    height: auto;
    padding-bottom: 0px;
    padding-left: 0px;

    }
    .bottom_tab_inner ul {
    margin-top: 0;
    margin-left:-15px;
    margin-right:-15px;
    }
    .bottom_tab_inner ul li {
    padding: 5px 10px;
    }

    .productgrid--items li {list-style-type: none;}

    #tab_slider .slick-prev {transform: scaleX(-1); }
    .bottom_tab_inner .featured-collection--cta {
      /* border-radius: 3px; */
      /* background: #001f5c; */
      /* padding: 10px 30px; */
      /* color: #fff; */
      /* text-decoration: none; */
      /* display: inline-block; */
      /* text-transform: none !important; */
      margin: 15px auto 0;
    align-items: center;
    background-color: #001f5c;
    border: 3px solid #001f5c;
    color: #fff;
    cursor: pointer;
    display: flex;
    font-size: 20px;
    height: 40px;
    border-radius: 6px;
    justify-content: center;
    text-align: center;
    transition: background-color .25s ease-in-out, color .25s ease-in-out;
    width: 100%;
    max-width: 164px;
    text-decoration: none;
    }
    .bottom_tab_inner .featured-collection--cta .button-text{font-size:18px; font-weight:600;}
    .feature_coll_cta {
    display: block;
    text-align: center;
    }
    .featured-collection--container .active_content ul:not(.slick-initialized) {
    display: flex !important;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    height: 0;
    }
    .cstcontainer{
    /* width:90%;
    margin:0 auto;
    padding: 40px 20px; */
    }
    .tab_product_slider button.slick-disabled {
    display: none !important;
    }
    /* media queries for mobile */
    @media (max-width:1022px){
    .tabSider{
    display:block;
    }
    .top_tab_inner{
    font-size: 12px;
    padding: 5px 10px;
    margin: 0 10px;
    /* min-height: 60px; */
    justify-content: center;
    align-items: center;
    display: flex;
    }

    .bottom_tab_inner .featured-collection--cta {
    padding: 5px 20px;
    }
    .bottom_tab_inner .featured-collection--cta .button-text{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    letter-spacing: .1rem;
    line-height: calc(1 + .2 / var(--font-body-scale));
    }
    }
    @media (max-width: 375px){
  .top_tab_inner {
      padding: 5px 10px;
      margin: 0px 3px;
      min-height: 35px;
    }
  }

    .bottom_tab_inner .slick-initialized .slick-list .slick-track{
    margin-bottom: 3px;
    margin-top: 3px;
    }

    /* Below code used hide the content before slick initialized */
    .bottom_tab_inner ul:not(.slick-initialized) > .card_product_grid:first-of-type ~* {
    display: none;
    }

    .tab_product_slider .quick-add-modal{
      /* display: none; */
      z-index: 2;
    position: relative;
    }
  .quick-add{
   z-index: 2;
  }
</style>

<script>
  $(document).ready(function(){
    $('body').on('click','.top_tab_inner',function(){
     var attr = $(this).attr('tab-index');
      var class_add = '.cstm__'+attr;
      $('.top_tab_inner').removeClass('active_tab');
      $(this).addClass('active_tab');
      $('.bottom_tab_inner').removeClass('active_content');
      $(class_add).addClass('active_content');
    });

    $('.bottom_tab_inner ul').slick({
    rows: 1,
    speed: 800,
    autoplay: true,
    autoplaySpeed: 2000,
    infinite: true,
    slidesToShow: 4,
    slidesToScroll: 1,
    prevArrow: '<button class="slide-arrow celeb-review-prev-btn prev-arrow"><i class="fa fa-angle-left" style="font-size:12px"></i></button>',
    nextArrow: '<button class="slide-arrow celeb-review-next-btn next-arrow"><i class="fa fa-angle-right" style="font-size:12px"></i></button>',
      dots: false,
    arrows: true,
    responsive: [
      {
        breakpoint: 1024,
        settings: {
          slidesToShow: 3,
          slidesToScroll: 1,
        }
      },
      {
        breakpoint: 480,
        settings: {
          slidesToShow: 2,
          slidesToScroll: 1,
          arrows: true,
        }
      }
    ]
  });
  })
</script>
